@import './components/rating.css';

:root {
	/* COLORS */

	/* Primary */
	--color-primary: hsl(333, 80%, 67%);
	--color-primary-dark: hsl(300, 43%, 22%);
	/* Neutral */
	--color-white: #ffffff;
	--color-light: #f7f2f7;
	--color-dark: #937b92;

	/* FONT */
	--font-primary: 'League Spartan', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-size: 1.5rem;
	color: var(--color-dark);
}

.social-proof-section {
	padding: 0 2.4rem 0;
	padding-top: 8.2rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: solid 2px red; */
}

.message {
	text-align: center;
}

.heading {
	font-size: 4rem;
	color: var(--color-primary-dark);
	letter-spacing: -1.43px;
	line-height: 3.2rem;

	margin-bottom: 1.7rem;
}

.content {
	font-size: 1.9rem;
	line-height: 2.5rem;
	letter-spacing: -0.63px;
	margin-bottom: 3.9rem;
}

.ratings {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	width: 100%;
}

.testimonials {
	display: flex;
	/* border: solid 2px green; */
}

.card {
}
