@import './components/rating_card.css';
@import './components/testimonial-card.css';

:root {
	/* COLORS */

	/* Primary */
	--color-primary: hsl(333, 80%, 67%);
	--color-primary-dark: hsl(300, 43%, 22%);
	/* Neutral */
	--color-white: #ffffff;
	--color-light: #f7f2f7;
	--color-dark: #937b92;

	/* FONT */
	--font-primary: 'League Spartan', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	font-size: 1.5rem;
	color: var(--color-dark);
	position: relative;
}

.social-proof-section {
	padding: 0 2.4rem 0;
	padding-top: 8.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
}

.message {
	text-align: center;
}

.heading {
	font-size: 4rem;
	color: var(--color-primary-dark);
	letter-spacing: -1.43px;
	line-height: 3.2rem;
	margin-bottom: 1.7rem;
}

.content {
	font-size: 1.9rem;
	line-height: 2.5rem;
	letter-spacing: -0.63px;
	margin-bottom: 3.9rem;
}

.ratings {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	width: 100%;
	align-items: center;
}

.testimonials {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.bg-img-top::after {
	content: '';
	display: block;
	position: absolute;
	background-image: url(../images/bg-pattern-top-mobile.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.bg-img-bottom::before {
	content: '';
	display: block;
	background-image: url(../images/bg-pattern-bottom-desktop.svg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 673px;
	width: 1085px;

	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -10;
}

@media (min-width: 1300px) {
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social-proof-section {
		padding: 0 16.5rem 0;
	}

	.header,
	.testimonials {
		flex-direction: row;
		min-width: 1100px;
	}

	.testimonials {
		min-height: 26.6rem;
		gap: 3rem;
	}

	.header {
		gap: 12.5rem;
		margin-bottom: 7rem;
	}
	.message {
		text-align: left;
		max-width: 440px;
	}

	.heading {
		font-size: 5.6rem;

		letter-spacing: -2px;
		line-height: 4.8rem;
		margin-bottom: 2.6rem;
	}

	.content {
		margin-bottom: 0;
	}

	.ratings {
		display: grid;
		max-width: 540px;
	}
	.bg-img-top::after {
		bottom: 0;

		background-image: url(../images/bg-pattern-top-desktop.svg);
	}

	.bg-img-bottom::before {
		top: 0;
	}
}
